# ORDINAL AND LABEL ENCODER

CASE 1 -LABEL ENCODER

In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
# Here we create a dataframe with feature "color"

df=pd.DataFrame({
    "color":["red","blue","green","green","red","blue"]
})

In [4]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [6]:
# Create an instance of label encoder

encoder=LabelEncoder()

In [8]:
# fit_transform(df["color"]) function is used for assingninh=g the labels of color like 2 for red , 0 for blue , 1 for green 

encoder.fit_transform(df["color"])

array([2, 0, 1, 1, 2, 0])

CASE 2 - For Ranking We have to use ORDINAL ENCODING -

In [9]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [11]:
# Here we create a dataframe with feature "size"

df=pd.DataFrame({
    "size":["small","medium","large","medium","small","large"]
})

In [12]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [20]:
# OrdinalEncoder ( ) is used for assigning the catrgorical data into the numerical data
# categories=[ [ ] ] is used for assigning the rank of variable 

encoder=OrdinalEncoder(categories=[["small","medium","large"]])

In [21]:
# fit_transform(df[[ ]]) is used for tranforming the data

encoder.fit_transform(df[["size"]])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

THANK YOU SO MUCH !!

YOURS VIRAT TIWARI :)